@import './base.css';

#app {
  max-width: 98vw;
  /* margin: 0 auto;
  padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 6%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
    justify-content: center;
  }

  #app {
    display: flex;
    flex-direction: column;

    width: 100vw;
  }
}
